.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 6rem;
  flex-wrap: wrap;
  background-color: #ad365a;
  box-shadow: 0 1px 5px -1px rgb(155, 155, 155);
  color: var(--text-color);
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2rem;
}

.navbar ul li {
  height: 2rem;
  padding: 0 1rem 2.2rem 1rem;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 400;
  color: var(--text-color);
  font-size: var(--font-medium);
}

.navbar ul li a:hover {
  font-weight: 600;
}

li.active {
  border-bottom: var(--text-color) 2px solid;
}

li.active a {
  font-weight: 600;
}

@media (max-width: 480px) {
  .logo {
    height: 2rem;
  }

  .logo h1 {
    font-size: 1.3rem;
    margin: 0.5rem;
  }

  .navbar ul {
    padding-bottom: 0.3rem;
  }

  .navbar ul li {
    padding: 0 0.5rem 2.2rem 0.5rem;
  }

  .navbar ul li a {
    font-size: medium;
  }

  .navbar {
    max-height: 7rem;
  }
}
